# 4 Preprocessing and Training

## 4.1 Imports and Set Display

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures

In [3]:
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.graphics.tsaplots import plot_acf

In [4]:
import re
import warnings
warnings.filterwarnings("ignore")

In [5]:
import time

In [6]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## 4.2 Load Datasets
the dataset house_Jan25_2024.csv can be download from:
https://drive.google.com/file/d/1FYQqapbjbfS9mQ_hab98epeGpaTnFcHo/view?usp=drive_link

In [7]:
# load datasets
house = pd.read_csv('../Data/house_Jan25_2024.csv', index_col=0)
house.head()

,owner1,owner2,mailing_address1,mailing_address2,real_estate_id,planning_jurisdiction,township,zoning,deeded_acreage,total_sale_price,parcel_identification,billing_class,property_description,land_classification,vcs,property_index,year_built,units,heated_area,utilities,year_of_addition,effective_year,remodeled_year,story_height,design_style,foundation_basement,exterior_wall,heat,air,bath,built_in1_description,grade,recycled_units,disq_and_qual_flag,land_disq_and_qual_flag,type_and_use,physical_city,physical_zip_code,physical_location,total_sale_year,total_sale_month,distance_nearest_city,nearest_city,population_per_square_mile,unemployment_rate
0,"MICKENS, ROBERT EARL & ANNIE M",NaN,2457 BERTIE DR,RALEIGH NC 27610-1730,19,RA,RALEIGH,R-4,0.21,34500,1714.20 81 7084 000,INDIVIDUALS,LO22 LONGVIEW GARDENS BLR,R,01RA512,01RA512,1964.0,1,1828.0,ALL,NaN,1980.0,NaN,1.0,I,B,D,A,A,2.0,One Fireplace,C+10,1,A,NaN,ONE FAMILY,RALEIGH,27610.0,2457 BERTIE DR,1974.0,1,6.21299,RALEIGH,306.877319,7.2
1,"TERRELL, WILLIAM M & RUTH H",NaN,46 INDIAN TRL,SANFORD NC 27332-8384,2694,RA,RALEIGH,R-6,0.30,22500,1723.14 24 6984 000,INDIVIDUALS,LO150 WORTHDALE ADDN SE1,R,01RA502,01RA502,1961.0,1,1292.0,ALL,NaN,1985.0,NaN,1.0,A,C,B,A,A,2.0,One Fireplace,C,1,A,NaN,ONE FAMILY,RALEIGH,27610.0,708 COOPER RD,1974.0,1,6.21299,RALEIGH,306.877319,7.2
2,"HOUSTON, PRINCE L",NaN,816 FRIAR TUCK RD,RALEIGH NC 27610-3633,3021,RA,RALEIGH,R-6,0.28,19500,1713.16 94 6543 000,INDIVIDUALS,LO97 WORTHDALE SE2,R,01RA500,01RA500,1959.0,1,1125.0,ALL,NaN,1959.0,NaN,1.0,A,C,B,A,H,1.0,NaN,C,1,A,NaN,ONE FAMILY,RALEIGH,27610.0,816 FRIAR TUCK RD,1974.0,1,6.21299,RALEIGH,306.877319,7.2
3,"NICHOLSON, ROSA J",NaN,3315 BELL DR,RALEIGH NC 27610-3760,4929,RA,RALEIGH,R-6,0.30,17000,1723.14 34 4102 000,INDIVIDUALS,LO31 WORTHDALE SE3,R,01RA502,01RA502,1963.0,1,1417.0,ALL,NaN,1985.0,NaN,1.0,A,C,B,A,A,1.5,One Fireplace,C,1,A,NaN,ONE FAMILY,RALEIGH,27610.0,3315 BELL DR,1974.0,1,6.21299,RALEIGH,306.877319,7.2
4,"WIMBERLEY, ALFRED G",NaN,PO BOX 27444,RALEIGH NC 27611-7444,6064,RA,RALEIGH,R-10,0.13,1500,1713.06 38 0443 000,INDIVIDUALS,LO118 RCMB BATTERY HEIGHTS BM2019-00378,R,01RA542,01RA542,2006.0,1,1143.0,ALL,NaN,2006.0,NaN,1.0,A,C,Z,A,A,2.0,One Fireplace,C,1,A,A,ONE FAMILY,RALEIGH,27610.0,1318 BATTERY DR,1974.0,1,6.21299,RALEIGH,306.877319,7.2

In [8]:
house.shape

(326112, 45)

In [9]:
house.dtypes

owner1                         object
owner2                         object
mailing_address1               object
mailing_address2               object
real_estate_id                  int64
planning_jurisdiction          object
township                       object
zoning                         object
deeded_acreage                float64
total_sale_price                int64
parcel_identification          object
billing_class                  object
property_description           object
land_classification            object
vcs                            object
property_index                 object
year_built                    float64
units                           int64
heated_area                   float64
utilities                      object
year_of_addition              float64
effective_year                float64
remodeled_year                float64
story_height                  float64
design_style                   object
foundation_basement            object
exterior_wall                  object
heat                           object
air                            object
bath                          float64
built_in1_description          object
grade                          object
recycled_units                  int64
disq_and_qual_flag             object
land_disq_and_qual_flag        object
type_and_use                   object
physical_city                  object
physical_zip_code             float64
physical_location              object
total_sale_year               float64
total_sale_month                int64
distance_nearest_city         float64
nearest_city                   object
population_per_square_mile    float64
unemployment_rate             float64
dtype: object

## 4.3 Check Missing Values in Continuous Variables.

In [10]:
house.select_dtypes(['int', 'float']).isna().sum()

real_estate_id                     0
deeded_acreage                 12110
total_sale_price                   0
year_built                         0
units                              0
heated_area                     1217
year_of_addition              312162
effective_year                     4
remodeled_year                318280
story_height                    1217
bath                            1232
recycled_units                     0
physical_zip_code                  0
total_sale_year                    0
total_sale_month                   0
distance_nearest_city              0
population_per_square_mile         0
unemployment_rate                  0
dtype: int64

In [11]:
house = house.drop(['year_of_addition', 'remodeled_year'], axis=1)

In [12]:
house.head(2)

,owner1,owner2,mailing_address1,mailing_address2,real_estate_id,planning_jurisdiction,township,zoning,deeded_acreage,total_sale_price,parcel_identification,billing_class,property_description,land_classification,vcs,property_index,year_built,units,heated_area,utilities,effective_year,story_height,design_style,foundation_basement,exterior_wall,heat,air,bath,built_in1_description,grade,recycled_units,disq_and_qual_flag,land_disq_and_qual_flag,type_and_use,physical_city,physical_zip_code,physical_location,total_sale_year,total_sale_month,distance_nearest_city,nearest_city,population_per_square_mile,unemployment_rate
0,"MICKENS, ROBERT EARL & ANNIE M",NaN,2457 BERTIE DR,RALEIGH NC 27610-1730,19,RA,RALEIGH,R-4,0.21,34500,1714.20 81 7084 000,INDIVIDUALS,LO22 LONGVIEW GARDENS BLR,R,01RA512,01RA512,1964.0,1,1828.0,ALL,1980.0,1.0,I,B,D,A,A,2.0,One Fireplace,C+10,1,A,NaN,ONE FAMILY,RALEIGH,27610.0,2457 BERTIE DR,1974.0,1,6.21299,RALEIGH,306.877319,7.2
1,"TERRELL, WILLIAM M & RUTH H",NaN,46 INDIAN TRL,SANFORD NC 27332-8384,2694,RA,RALEIGH,R-6,0.30,22500,1723.14 24 6984 000,INDIVIDUALS,LO150 WORTHDALE ADDN SE1,R,01RA502,01RA502,1961.0,1,1292.0,ALL,1985.0,1.0,A,C,B,A,A,2.0,One Fireplace,C,1,A,NaN,ONE FAMILY,RALEIGH,27610.0,708 COOPER RD,1974.0,1,6.21299,RALEIGH,306.877319,7.2

for land_sale_price, deeded_acreage, assessed_building_value, assessed_land_value, heated_area, assessed_grade_difference, use same total_sale_year data in same city to fillna.

In [13]:
house['deeded_acreage'] = house.groupby(['physical_city', 'total_sale_year'])['deeded_acreage'].transform(lambda x:x.fillna((x.median())))
house['heated_area'] = house.groupby(['physical_city', 'total_sale_year'])['heated_area'].transform(lambda x:x.fillna((x.median())))
house['story_height'] = house.groupby(['physical_city', 'total_sale_year'])['story_height'].transform(lambda x:x.fillna((x.median())))
house['bath'] = house.groupby(['physical_city', 'total_sale_year'])['bath'].transform(lambda x:x.fillna((x.median())))

In [14]:
house.select_dtypes(['int', 'float']).isna().sum()

real_estate_id                0
deeded_acreage                0
total_sale_price              0
year_built                    0
units                         0
heated_area                   0
effective_year                4
story_height                  0
bath                          0
recycled_units                0
physical_zip_code             0
total_sale_year               0
total_sale_month              0
distance_nearest_city         0
population_per_square_mile    0
unemployment_rate             0
dtype: int64

In [15]:
house.loc[house['effective_year'].isna(), 'effective_year'] = house.loc[house['effective_year'].isna(), 'year_built']

In [16]:
house.select_dtypes(['int', 'float']).isna().sum()

real_estate_id                0
deeded_acreage                0
total_sale_price              0
year_built                    0
units                         0
heated_area                   0
effective_year                0
story_height                  0
bath                          0
recycled_units                0
physical_zip_code             0
total_sale_year               0
total_sale_month              0
distance_nearest_city         0
population_per_square_mile    0
unemployment_rate             0
dtype: int64

after same city, same year fillna, still have nan in land_sale_price, assessed_building_value, heated_area, assessed_grade_difference and deed_year, fillna with median of whole column.

In [17]:
house['age_sale'] = house['total_sale_year'] - house['year_built']
house.shape

(326112, 44)

## 4.4 Check Variables

<font color=red> Check statistics description to get lists of continuous variables and categorical variables quickly.

In [18]:
des = house.describe(include='all')
des

,owner1,owner2,mailing_address1,mailing_address2,real_estate_id,planning_jurisdiction,township,zoning,deeded_acreage,total_sale_price,parcel_identification,billing_class,property_description,land_classification,vcs,property_index,year_built,units,heated_area,utilities,effective_year,story_height,design_style,foundation_basement,exterior_wall,heat,air,bath,built_in1_description,grade,recycled_units,disq_and_qual_flag,land_disq_and_qual_flag,type_and_use,physical_city,physical_zip_code,physical_location,total_sale_year,total_sale_month,distance_nearest_city,nearest_city,population_per_square_mile,unemployment_rate,age_sale
count,326112,67230,326112,326111,326112.000000,326112,326112,326112,326112.000000,3.261120e+05,326112,326112,326093,326105,326112,326112,326112.000000,326112.000000,326112.000000,323952,326112.000000,326112.000000,324895,326112,324895,324888,324895,326112.000000,263153,326112,326112.000000,325926,129894,326112,326112,326112.000000,326112,326112.000000,326112.000000,326112.000000,326112,326112.000000,326112.000000,326112.000000
unique,299669,64089,289659,68642,NaN,15,20,245,NaN,NaN,326106,6,324436,20,4661,4852,NaN,NaN,NaN,15,NaN,NaN,15,3,19,6,3,NaN,2,54,NaN,19,18,4,19,NaN,325978,NaN,NaN,NaN,18,NaN,NaN,NaN
top,AC BLACKWOLF RUN OWNER LLC,BRADFORD XIV LLC,PO BOX 4090,SCOTTSDALE AZ 85261-4090,NaN,RA,WHITE OAK,R-4,NaN,NaN,0785.12 85 1079 005,INDIVIDUALS,LO1,R,01RA512,01RA512,NaN,NaN,NaN,ALL,NaN,NaN,A,C,A,A,A,NaN,One Fireplace,B,NaN,A,A,ONE FAMILY,RALEIGH,NaN,403 N MAIN ST,NaN,NaN,NaN,RALEIGH,NaN,NaN,NaN
freq,329,19,1683,1683,NaN,125369,35287,42489,NaN,NaN,2,306781,100,312588,929,929,NaN,NaN,NaN,242762,NaN,NaN,242675,281367,169520,323475,320284,NaN,251875,37006,NaN,302476,79374,323584,148243,NaN,3,NaN,NaN,NaN,79151,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,257666.557066,NaN,NaN,NaN,0.410246,3.105056e+05,NaN,NaN,NaN,NaN,NaN,NaN,1996.600401,1.012030,2301.666253,NaN,1999.901607,1.624852,NaN,NaN,NaN,NaN,NaN,2.567651,NaN,NaN,1.006768,NaN,NaN,NaN,NaN,27571.611465,NaN,2011.628588,6.630679,5.967920,NaN,1087.517694,4.432209,15.028187
std,NaN,NaN,NaN,NaN,136686.464003,NaN,NaN,NaN,1.053247,2.194614e+05,NaN,NaN,NaN,NaN,NaN,NaN,19.653444,0.160243,1001.673859,NaN,14.936698,0.446208,NaN,NaN,NaN,NaN,NaN,0.604841,NaN,NaN,0.214769,NaN,NaN,NaN,NaN,41.759484,NaN,10.242016,3.274409,3.658676,NaN,283.678751,1.535351,18.496078
min,NaN,NaN,NaN,NaN,19.000000,NaN,NaN,NaN,0.010000,5.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,1790.000000,1.000000,252.000000,NaN,1840.000000,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,27501.000000,NaN,1974.000000,1.000000,0.449741,NaN,306.877319,1.400000,-48.000000
25%,NaN,NaN,NaN,NaN,147317.750000,NaN,NaN,NaN,0.150000,1.650000e+05,NaN,NaN,NaN,NaN,NaN,NaN,1987.000000,1.000000,1567.000000,NaN,1991.000000,1.000000,NaN,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,27526.000000,NaN,2006.000000,4.000000,2.260920,NaN,914.842127,3.400000,1.000000
50%,NaN,NaN,NaN,NaN,256070.500000,NaN,NaN,NaN,0.230000,2.668000e+05,NaN,NaN,NaN,NaN,NaN,NaN,2000.000000,1.000000,2130.000000,NaN,2002.000000,1.880000,NaN,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,27587.000000,NaN,2015.000000,7.000000,6.212990,NaN,1193.520571,4.100000,9.000000
75%,NaN,NaN,NaN,NaN,362355.250000,NaN,NaN,NaN,0.400000,3.990000e+05,NaN,NaN,NaN,NaN,NaN,NaN,2010.000000,1.000000,2825.000000,NaN,2011.000000,2.000000,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,27610.000000,NaN,2020.000000,9.000000,8.753320,NaN,1321.172201,4.800000,22.000000
max,NaN,NaN,NaN,NaN,507212.000000,NaN,NaN,NaN,128.330000,7.940000e+06,NaN,NaN,NaN,NaN,NaN,NaN,2023.000000,14.000000,21993.000000,NaN,2023.000000,3.000000,NaN,NaN,NaN,NaN,NaN,3.500000,NaN,NaN,73.000000,NaN,NaN,NaN,NaN,27713.000000,NaN,2023.000000,12.000000,14.375230,NaN,1397.792350,9.200000,215.000000

<font color=red>Here, we use null mean as criterion, the other method is using percentage of number of unique.

In [19]:
print(f"This dataset have {house.shape[1]} variables in total")
print(f"This dataset have {len(list(des.columns[des.T['mean'].notna()]))} variables as continuous variables")
print(f"This dataset have {len(list(set(house.columns) - set(list(des.columns[des.T['mean'].notna()]))))} variables as categorical variables")

This dataset have 44 variables in total
This dataset have 17 variables as continuous variables
This dataset have 27 variables as categorical variables

In [20]:
house.head(2)

,owner1,owner2,mailing_address1,mailing_address2,real_estate_id,planning_jurisdiction,township,zoning,deeded_acreage,total_sale_price,parcel_identification,billing_class,property_description,land_classification,vcs,property_index,year_built,units,heated_area,utilities,effective_year,story_height,design_style,foundation_basement,exterior_wall,heat,air,bath,built_in1_description,grade,recycled_units,disq_and_qual_flag,land_disq_and_qual_flag,type_and_use,physical_city,physical_zip_code,physical_location,total_sale_year,total_sale_month,distance_nearest_city,nearest_city,population_per_square_mile,unemployment_rate,age_sale
0,"MICKENS, ROBERT EARL & ANNIE M",NaN,2457 BERTIE DR,RALEIGH NC 27610-1730,19,RA,RALEIGH,R-4,0.21,34500,1714.20 81 7084 000,INDIVIDUALS,LO22 LONGVIEW GARDENS BLR,R,01RA512,01RA512,1964.0,1,1828.0,ALL,1980.0,1.0,I,B,D,A,A,2.0,One Fireplace,C+10,1,A,NaN,ONE FAMILY,RALEIGH,27610.0,2457 BERTIE DR,1974.0,1,6.21299,RALEIGH,306.877319,7.2,10.0
1,"TERRELL, WILLIAM M & RUTH H",NaN,46 INDIAN TRL,SANFORD NC 27332-8384,2694,RA,RALEIGH,R-6,0.30,22500,1723.14 24 6984 000,INDIVIDUALS,LO150 WORTHDALE ADDN SE1,R,01RA502,01RA502,1961.0,1,1292.0,ALL,1985.0,1.0,A,C,B,A,A,2.0,One Fireplace,C,1,A,NaN,ONE FAMILY,RALEIGH,27610.0,708 COOPER RD,1974.0,1,6.21299,RALEIGH,306.877319,7.2,13.0

## 4.5 Define Useful Functions.

In [22]:
def cross_validate(data, estimator, test_p, n=5):
    train_r2 = []
    test_r2 = []
    train_mae = []
    test_mae = []
    train_rmse = []
    test_rmse = []
    train_length = int(np.floor(len(data)*(1-test_p)))
    res_train = pd.DataFrame(index=range(train_length))
    res_test = pd.DataFrame(index=range(len(data)-train_length))
    
    # check if all continuous
    if np.all(data.dtypes.values) in ['int64', 'float64']:
        for i in range(n):
            shuffled = data.sample(len(data))
            X = shuffled.drop('total_sale_price', axis=1)
            y = shuffled['total_sale_price']
            X_train, X_test, y_train, y_test = X.iloc[:train_length], X.iloc[train_length:], y.iloc[:train_length], y.iloc[train_length:]
            #scale
            scaler = StandardScaler()
            scaler.fit(X_train)
            X_train_final = scaler.transform(X_train)
            X_test_final = scaler.transform(X_test)
            
            est = estimator.fit(X_train_final, y_train)
            y_train_pred = est.predict(X_train_final)
            y_test_pred = est.predict(X_test_final)
            
            res_train['y_train_true_'+str(i+1)] = y_train.values
            res_train['y_train_predict_'+str(i+1)] = y_train_pred
            res_test['y_test_true_'+str(i+1)] = y_test.values
            res_test['y_test_predict_'+str(i+1)] = y_test_pred

            train_r2.append(r2_score(y_train, y_train_pred))
            test_r2.append(r2_score(y_test, y_test_pred))
            train_mae.append(mean_absolute_error(y_train, y_train_pred))
            test_mae.append(mean_absolute_error(y_test, y_test_pred))
            train_rmse.append(np.sqrt(mean_squared_error(y_train, y_train_pred)))
            test_rmse.append(np.sqrt(mean_squared_error(y_test, y_test_pred)))
    elif np.all(data.dtypes.values) in ['int64', 'float64', 'category']:               
        for i in range(n):
            shuffled = data.sample(len(data))
            X = shuffled.drop('total_sale_price', axis=1)
            y = shuffled['total_sale_price']
            X_train, X_test, y_train, y_test = X.iloc[:train_length], X.iloc[train_length:], y.iloc[:train_length], y.iloc[train_length:]
            # separate continuous and categorical
            X_train_num = X_train.select_dtypes(['int64', 'float64'])
            X_test_num = X_test.select_dtypes(['int64', 'float64'])
            X_train_cat = X_train.select_dtypes(['category'])
            X_test_cat = X_test.select_dtypes(['category'])
            # only scale continuous
            scaler = StandardScaler()
            scaler.fit(X_train_num)
            X_train_num.iloc[:,:] = scaler.transform(X_train_num)
            X_test_num.iloc[:,:] = scaler.transform(X_test_num)
             # vectorize
            count_vec = CountVectorizer(max_features=100)
            index_train = X_train_cat.index
            index_test = X_test_cat.index
            X_train_cat = pd.DataFrame(count_vec.fit_transform(X_train_cat['property_description']).toarray(), index=index_train,\
                          columns=count_vec.get_feature_names_out())
            X_test_cat = pd.DataFrame(count_vec.transform(X_test_cat['property_description']).toarray(), index=index_test,\
                         columns=count_vec.get_feature_names_out())
            # combine back
            X_train_final = pd.concat([X_train_num, X_train_cat], axis=1)
            X_test_final = pd.concat([X_test_num, X_test_cat], axis=1)

            est = estimator.fit(X_train_final, y_train)
            y_train_pred = est.predict(X_train_final)
            y_test_pred = est.predict(X_test_final)
        
            res_train['y_train_true_'+str(i+1)] = y_train.values
            res_train['y_train_predict_'+str(i+1)] = y_train_pred
            res_test['y_test_true_'+str(i+1)] = y_test.values
            res_test['y_test_predict_'+str(i+1)] = y_test_pred

            train_r2.append(r2_score(y_train, y_train_pred))
            test_r2.append(r2_score(y_test, y_test_pred))
            train_mae.append(mean_absolute_error(y_train, y_train_pred))
            test_mae.append(mean_absolute_error(y_test, y_test_pred))
            train_rmse.append(np.sqrt(mean_squared_error(y_train, y_train_pred)))
            test_rmse.append(np.sqrt(mean_squared_error(y_test, y_test_pred)))
    else:
        for i in range(n):
            shuffled = data.sample(len(data))
            X = shuffled.drop('total_sale_price', axis=1)
            y = shuffled['total_sale_price']
            X_train, X_test, y_train, y_test = X.iloc[:train_length], X.iloc[train_length:], y.iloc[:train_length], y.iloc[train_length:]
            # separate 
            X_train_num = X_train.select_dtypes(['int64', 'float64'])
            X_test_num = X_test.select_dtypes(['int64', 'float64'])
            X_train_cat = X_train.select_dtypes(['category'])
            X_test_cat = X_test.select_dtypes(['category'])
            X_train_bool = X_train.select_dtypes(['bool'])
            X_test_bool = X_test.select_dtypes(['bool'])
            # scale
            scaler = StandardScaler()
            scaler.fit(X_train_num)
            X_train_num.iloc[:,:] = scaler.transform(X_train_num)
            X_test_num.iloc[:,:] = scaler.transform(X_test_num)
            # vectorize
            count_vec = CountVectorizer(max_features=100)
            index_train = X_train_cat.index
            index_test = X_test_cat.index
            X_train_cat = pd.DataFrame(count_vec.fit_transform(X_train_cat['property_description']).toarray(), index=index_train,\
                          columns=count_vec.get_feature_names_out())
            X_test_cat = pd.DataFrame(count_vec.transform(X_test_cat['property_description']).toarray(), index=index_test,\
                         columns=count_vec.get_feature_names_out())
            # combine
            X_train_final = pd.concat([X_train_num, X_train_cat, X_train_bool], axis=1)
            X_test_final = pd.concat([X_test_num, X_test_cat, X_test_bool], axis=1)

            est = estimator.fit(X_train_final, y_train)
            y_train_pred = est.predict(X_train_final)
            y_test_pred = est.predict(X_test_final)
        
            res_train['y_train_true_'+str(i+1)] = y_train.values
            res_train['y_train_predict_'+str(i+1)] = y_train_pred
            res_test['y_test_true_'+str(i+1)] = y_test.values
            res_test['y_test_predict_'+str(i+1)] = y_test_pred

            train_r2.append(r2_score(y_train, y_train_pred))
            test_r2.append(r2_score(y_test, y_test_pred))
            train_mae.append(mean_absolute_error(y_train, y_train_pred))
            test_mae.append(mean_absolute_error(y_test, y_test_pred))
            train_rmse.append(np.sqrt(mean_squared_error(y_train, y_train_pred)))
            test_rmse.append(np.sqrt(mean_squared_error(y_test, y_test_pred)))
            
    res_metrics = pd.DataFrame(index=range(n), data={'train_r2':train_r2, 'test_r2':test_r2,
                            'train_mae':train_mae, 'test_mae':test_mae,
                            'train_rmse':train_rmse, 'test_rmse':test_rmse})
    return res_train, res_test, res_metrics

In [23]:
def scatterplots(data, columns, ncol=None, figsize=(15, 8)):
    if ncol is None:
        ncol = len(columns)
    nrow = int(np.ceil(len(columns) / ncol))
    fig, axes = plt.subplots(nrow, ncol, figsize=figsize, squeeze=False)
    fig.subplots_adjust(wspace=0.5, hspace=0.6)
    for i, col in enumerate(columns):
        ax = axes.flatten()[i]
        sns.scatterplot(x = col, y = 'total_sale_price', data=data, alpha=0.5, ax=ax)
        ax.set(xlabel=col, ylabel='total_sale_price')
    nsubplots = nrow * ncol
    for empty in range(i+1, nsubplots):
        axes.flatten()[empty].set_visible(False)    #  set not visible about empty axes.

In [24]:
def residual_plot(y_train, y_train_pred, y_test, y_test_pred, figsize=(15, 10)):

    fig, ax = plt.subplots(3, 2, figsize=figsize, squeeze=False)
    fig.subplots_adjust(wspace=0.2, hspace=0.4)

    ax[0,0].scatter(y_train, y_train_pred)
    ax[0,0].plot([0, 0.75*10**6], [0, 0.75*10**6], color='red')
    ax[0,0].set_xlabel('y train true')
    ax[0,0].set_ylabel('y train predict')

    ax[0,1].scatter(y_test, y_test_pred)
    ax[0,1].plot([0, 0.75*10**6], [0, 0.75*10**6], color='red')
    ax[0,1].set_xlabel('y test true')
    ax[0,1].set_ylabel('y test predict')

    residuals_train = y_train.values - y_train_pred
    sns.kdeplot(residuals_train, fill=True, ax=ax[1,0])
    ax[1,0].set_xlabel('Residuals')

    sm.qqplot(residuals_train, ax=ax[1,1])
    ax[1,1].set_title("QQ Plot of Residuals")

    sns.scatterplot(x=y_train_pred, y=residuals_train, ax=ax[2,0])
    ax[2,0].plot([0,0.75*10**6],[0,0], color='red')

<font color=red> from the 20 tests result of Exp_1, we found the model is not very stable, because it have negative R2, which means in that test, the model performs worse than a simple horizontal line (a model that predicts the mean of the dependent variable for all observations). possible reasons are 1) random nature of the data splitting during cross-validation; 2) the data has inherent variability, certain splits might result in less representative training and test sets, 3) outliers or extreme values in the data may have a disproportionate impact on the model's performance in certain splits. let's check the histogram of whole dataset.

## 4.6 Exp_1 Use All Continuous Variables

### 4.6.1 Setup Dataframe

In [21]:
df_1 = house.copy()
df_1 = df_1.select_dtypes(['int', 'float'])

In [22]:
df_1.head()

,real_estate_id,deeded_acreage,total_sale_price,year_built,units,heated_area,effective_year,story_height,bath,recycled_units,physical_zip_code,total_sale_year,total_sale_month,distance_nearest_city,population_per_square_mile,unemployment_rate,age_sale
0,19,0.21,34500,1964.0,1,1828.0,1980.0,1.0,2.0,1,27610.0,1974.0,1,6.21299,306.877319,7.2,10.0
1,2694,0.30,22500,1961.0,1,1292.0,1985.0,1.0,2.0,1,27610.0,1974.0,1,6.21299,306.877319,7.2,13.0
2,3021,0.28,19500,1959.0,1,1125.0,1959.0,1.0,1.0,1,27610.0,1974.0,1,6.21299,306.877319,7.2,15.0
3,4929,0.30,17000,1963.0,1,1417.0,1985.0,1.0,1.5,1,27610.0,1974.0,1,6.21299,306.877319,7.2,11.0
4,6064,0.13,1500,2006.0,1,1143.0,2006.0,1.0,2.0,1,27610.0,1974.0,1,6.21299,306.877319,7.2,-32.0

### 4.6.2 Modelling

In [27]:
X = df_1.drop('total_sale_price', axis=1)
y = df_1['total_sale_price']

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=42)

In [29]:
X_train.shape, X_test.shape

((309806, 16), (16306, 16))

In [30]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [31]:
lr_1 = LinearRegression().fit(X_train_scaled, y_train)

In [32]:
y_train_pred = lr_1.predict(X_train_scaled)
y_test_pred = lr_1.predict(X_test_scaled)

In [33]:
print('R2', r2_score(y_train, y_train_pred), r2_score(y_test, y_test_pred))
print('MAE', mean_absolute_error(y_train, y_train_pred), mean_absolute_error(y_test, y_test_pred))
print('RMSE', np.sqrt(mean_squared_error(y_train, y_train_pred)), np.sqrt(mean_squared_error(y_test, y_test_pred)))

R2 0.6731432273101583 0.6638722134772291
MAE 75589.26302209032 75868.19271540086
RMSE 125490.99756358593 126809.79407973618

In [34]:
estimator = LinearRegression()

In [35]:
res_train_1, res_test_1, res_metrics_1 = cross_validate(df_1, estimator, test_p=0.05, n=20)

In [36]:
res_metrics_1

,train_r2,test_r2,train_mae,test_mae,train_rmse,test_rmse
0,0.673138,0.663732,75742.295944,74914.860724,125462.981645,127395.288689
1,0.671525,0.690870,75618.825266,76993.324417,125620.003671,124910.969764
2,0.673390,0.658407,75802.385550,75365.579822,125455.967924,127590.379633
3,0.673948,0.650397,75522.939878,77147.318209,125000.467149,135788.499312
4,0.674886,0.633398,75661.575582,75739.817883,124902.579792,137462.225623
5,0.673015,0.666083,75670.898447,75784.156687,125502.394772,126647.965414
6,0.671540,0.695001,75727.484004,75157.849861,125909.038916,118743.595892
7,0.672149,0.682374,75659.186045,75874.712221,125609.631431,124614.499282
8,0.672160,0.682050,75681.543625,75891.248487,125579.226814,125199.756081
9,0.672511,0.675712,75759.456063,75321.745508,125796.676639,121001.867848
10,0.672695,0.672058,75668.919024,76168.700730,125470.286475,127273.387001
11,0.672014,0.685394,75676.772808,75966.577909,125775.960704,121397.005398
12,0.672814,0.669630,75803.757649,74325.555965,125719.607808,122496.698689
13,0.672169,0.681664,75687.884944,75997.390331,125694.673435,123090.308145
14,0.672794,0.670036,75719.661880,75246.234557,125740.757330,122085.201119
15,0.673203,0.662710,75645.714464,75894.126330,125394.120306,128673.387488
16,0.674490,0.642440,75588.233565,76607.403140,124700.479105,140988.137565
17,0.672755,0.650701,75634.876319,75669.553020,125681.107294,126969.319199
18,0.672659,0.672797,75637.385765,76245.913859,125459.713534,127456.682882
19,0.671427,0.697771,75772.529362,74423.819951,125993.368387,117027.159136

### 4.6.3 Hyperparameter Table

In [37]:
hyperparameter_table = pd.read_excel('../Data/hyperparameters_table.xlsx', index_col=0)
hyperparameter_table = hyperparameter_table.to_dict()
hyperparameter_table

{'Model_Name': {1: 'Linear Regression'},
 'Exp': {1: 1},
 'Dropna_Thres%': {1: nan},
 'Drop_Dupe': {1: nan},
 'Only_Residential': {1: nan},
 'n_Num': {1: nan},
 'n_Cat': {1: nan},
 'Cat_Encode': {1: nan},
 'Test_P%': {1: nan},
 'Scale': {1: nan},
 'Cross_Val': {1: nan},
 'N_Shuffle': {1: nan},
 'Train_RMSE_mean': {1: nan},
 'Train_RMSE_std': {1: nan},
 'Test_RMSE_mean': {1: nan},
 'Test_RMSE_std': {1: nan}}

In [38]:
param_names = list(hyperparameter_table.keys())
param_values = ['Linear Regression', 1, 95, 'Yes', 'Yes', X_train.shape[1], 0, np.nan, 5, 'Yes', 'Yes', 20,
                res_metrics_1['train_rmse'].mean(), res_metrics_1['train_rmse'].std(), 
                res_metrics_1['test_rmse'].mean(), res_metrics_1['test_rmse'].std()]

for name, value in zip(param_names, param_values):
    hyperparameter_table[name][1] = value
    
pd.DataFrame(hyperparameter_table)

,Model_Name,Exp,Dropna_Thres%,Drop_Dupe,Only_Residential,n_Num,n_Cat,Cat_Encode,Test_P%,Scale,Cross_Val,N_Shuffle,Train_RMSE_mean,Train_RMSE_std,Test_RMSE_mean,Test_RMSE_std
1,Linear Regression,1,95,Yes,Yes,16,0,NaN,5,Yes,Yes,20,125523.452157,327.365201,126340.616708,6006.112892

<font color=red>**from above table, we can see the selection of residential houses improved the result a lot. the rmse of train set decreased from 900k-1000k to 90k-100k. also the test set. this is also better for our target, since the project target is also focus on residential houses. from now on, we will only investigate the residential houses.**

## 4.7 Exp_2 Add More Continuous Variables

### 4.7.1 Setup Dataframe

In [23]:
df_2 = pd.concat([df_1, house.loc[df_1.index, ['built_in1_description', 'parcel_identification', 'grade']]], axis=1)
df_2.head()

,real_estate_id,deeded_acreage,total_sale_price,year_built,units,heated_area,effective_year,story_height,bath,recycled_units,physical_zip_code,total_sale_year,total_sale_month,distance_nearest_city,population_per_square_mile,unemployment_rate,age_sale,built_in1_description,parcel_identification,grade
0,19,0.21,34500,1964.0,1,1828.0,1980.0,1.0,2.0,1,27610.0,1974.0,1,6.21299,306.877319,7.2,10.0,One Fireplace,1714.20 81 7084 000,C+10
1,2694,0.30,22500,1961.0,1,1292.0,1985.0,1.0,2.0,1,27610.0,1974.0,1,6.21299,306.877319,7.2,13.0,One Fireplace,1723.14 24 6984 000,C
2,3021,0.28,19500,1959.0,1,1125.0,1959.0,1.0,1.0,1,27610.0,1974.0,1,6.21299,306.877319,7.2,15.0,NaN,1713.16 94 6543 000,C
3,4929,0.30,17000,1963.0,1,1417.0,1985.0,1.0,1.5,1,27610.0,1974.0,1,6.21299,306.877319,7.2,11.0,One Fireplace,1723.14 34 4102 000,C
4,6064,0.13,1500,2006.0,1,1143.0,2006.0,1.0,2.0,1,27610.0,1974.0,1,6.21299,306.877319,7.2,-32.0,One Fireplace,1713.06 38 0443 000,C

In [24]:
df_2['built_in1_description'].value_counts(dropna=False)

built_in1_description
One Fireplace      251875
NaN                 62959
Multiple Firepl     11278
Name: count, dtype: int64

In [25]:
df_2['built_in1_description'] = df_2['built_in1_description'].fillna('No Fireplace')

In [26]:
df_2['fireplace'] = df_2['built_in1_description'].map({'One Fireplace':1,'No Fireplace':0,'Multiple Firepl':2})
df_2 = df_2.drop('built_in1_description', axis=1)

In [27]:
df_2['parcel_identification'].unique()

array(['1714.20 81 7084 000', '1723.14 24 6984 000',
       '1713.16 94 6543 000', ..., '0733.02 99 3454 000',
       '0733.02 99 3558 000', '0675.03 20 0858 000'], dtype=object)

In [28]:
delimiters = r"[. ]"
df_2['PI_1'] = df_2['parcel_identification'].apply(lambda x: re.split(delimiters, x)[0]).astype('int64')
df_2['PI_2'] = df_2['parcel_identification'].apply(lambda x: re.split(delimiters, x)[1]).astype('int64')
df_2['PI_3'] = df_2['parcel_identification'].apply(lambda x: re.split(delimiters, x)[2]).astype('int64')
df_2['PI_4'] = df_2['parcel_identification'].apply(lambda x: re.split(delimiters, x)[3]).astype('int64')
df_2 = df_2.drop('parcel_identification', axis=1)
df_2.shape

(326112, 23)

In [29]:
df_2.grade.unique()

array(['C+10', 'C', 'C-05', 'C+05', 'C-10', 'B', 'D+05', 'D+10', 'B-05',
       'B+05', 'A-05', 'A-10', 'B+10', 'A', 'B-10', 'AA-10', 'A+10', 'AA',
       'D', 'A+20', 'A+05', 'A+25', 'E', 'E+10', 'D-10', 'D-20', 'A+15',
       'AA+15', 'AA+20', 'AA+10', 'AA-05', 'D-05', 'AA-15', 'AA+05',
       'AA+30', 'AA+50', 'AA+60', 'AA+25', '0', 'E-10', 'AA+40', 'E-15',
       'E+15', 'D-15', 'AA+85', 'AA+90', 'AA+80', 'AA+70', 'E-50', 'E+05',
       'E-20', 'E-25', 'E-30', 'E-05'], dtype=object)

In [30]:
# replace '0' with average level 'C'
df_2['grade'] = df_2['grade'].replace('0', 'C')
# extract the letter part
delimiters = r"[+-]"
df_2['grade'] = df_2['grade'].str.extract(r'([A-Za-z]+)')
df_2['grade'] = df_2['grade'].map({'AA': 6, 'A': 5, 'B': 4, 'C': 3, 'D': 2, 'E': 1})
df_2.shape

(326112, 23)

### 4.7.2 Modelling

In [47]:
X = df_2.drop('total_sale_price', axis=1)
y = df_2['total_sale_price']

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=42)

In [49]:
X_train.shape, X_test.shape

((309806, 22), (16306, 22))

In [50]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [51]:
lr_2 = LinearRegression().fit(X_train_scaled, y_train)

In [52]:
y_train_pred = lr_2.predict(X_train_scaled)
y_test_pred = lr_2.predict(X_test_scaled)

In [53]:
print('R2', r2_score(y_train, y_train_pred), r2_score(y_test, y_test_pred))
print('MAE', mean_absolute_error(y_train, y_train_pred), mean_absolute_error(y_test, y_test_pred))
print('RMSE', np.sqrt(mean_squared_error(y_train, y_train_pred)), np.sqrt(mean_squared_error(y_test, y_test_pred)))

R2 0.7092788259223677 0.6990805800900466
MAE 70784.25962077794 71361.66135088308
RMSE 118351.06202875535 119984.65235182001

In [54]:
estimator = LinearRegression()

In [55]:
res_train_2, res_test_2, res_metrics_2 = cross_validate(df_2, estimator, test_p=0.05, n=20)

In [56]:
res_metrics_2

,train_r2,test_r2,train_mae,test_mae,train_rmse,test_rmse
0,0.709942,0.687683,70789.080651,70300.448162,118028.056173,125895.237655
1,0.708630,0.711455,70707.571368,71204.851846,118364.148282,119724.952204
2,0.709858,0.689527,70773.704097,70133.434856,118019.903902,126004.113162
3,0.708475,0.714378,70704.450840,71495.429663,118413.218179,118792.009256
4,0.708391,0.716115,70747.073192,70652.681515,118507.900087,116980.304543
5,0.709528,0.694574,70729.116515,71914.728582,118264.132253,121583.477319
6,0.707531,0.735267,70912.488495,68739.694065,119008.552222,106904.347630
7,0.707856,0.726319,70765.851626,70596.333525,118622.716046,114749.123211
8,0.708901,0.677641,70676.959470,71052.517918,118607.341468,120531.583448
9,0.708755,0.709235,70742.246528,70500.783399,118326.166925,120421.599563
10,0.708302,0.718028,70792.784831,70244.150715,118581.641715,115544.685653
11,0.708314,0.717722,70779.779497,70561.148973,118568.443536,115810.501426
12,0.708496,0.714274,70777.370604,70899.584605,118588.206203,115437.660696
13,0.708686,0.710600,70794.424127,70583.289268,118495.925555,117204.932132
14,0.707866,0.727529,70879.067029,69292.106943,118841.974327,110345.840847
15,0.708324,0.717458,70741.956965,70607.142177,118555.512492,116068.065133
16,0.707681,0.731409,70871.247246,70094.004138,118912.908840,108933.647994
17,0.708074,0.723028,70844.798654,69880.387933,118761.261509,111987.054501
18,0.709315,0.698491,70776.360383,70904.298943,118308.292005,120789.383435
19,0.709102,0.702414,70868.899320,69287.615469,118465.162995,117796.233325

### 4.7.3 Hyperparameter Table Update

In [57]:
param_names = list(hyperparameter_table.keys())
param_values = ['Linear Regression', 2, 95, 'Yes', 'Yes', X_train.shape[1], 0, np.nan, 5, 'Yes', 'Yes', 20,
                res_metrics_2['train_rmse'].mean(), res_metrics_2['train_rmse'].std(), 
                res_metrics_2['test_rmse'].mean(), res_metrics_2['test_rmse'].std()]

for name, value in zip(param_names, param_values):
    hyperparameter_table[name][2] = value
    
pd.DataFrame(hyperparameter_table)

,Model_Name,Exp,Dropna_Thres%,Drop_Dupe,Only_Residential,n_Num,n_Cat,Cat_Encode,Test_P%,Scale,Cross_Val,N_Shuffle,Train_RMSE_mean,Train_RMSE_std,Test_RMSE_mean,Test_RMSE_std
1,Linear Regression,1,95,Yes,Yes,16,0,NaN,5,Yes,Yes,20,125523.452157,327.365201,126340.616708,6006.112892
2,Linear Regression,2,95,Yes,Yes,22,0,NaN,5,Yes,Yes,20,118512.073236,257.856267,117075.237657,5022.321916

## 4.8 Exp_3 Add Natural Language Variables

### 4.8.1 Setup Dataframe

In [31]:
df_3 = pd.concat([df_2, house.loc[df_2.index,['owner1', 'owner2', 'mailing_address1', 'mailing_address2', 'physical_location', 'property_description']]], axis=1)
df_3.head()

,real_estate_id,deeded_acreage,total_sale_price,year_built,units,heated_area,effective_year,story_height,bath,recycled_units,physical_zip_code,total_sale_year,total_sale_month,distance_nearest_city,population_per_square_mile,unemployment_rate,age_sale,grade,fireplace,PI_1,PI_2,PI_3,PI_4,owner1,owner2,mailing_address1,mailing_address2,physical_location,property_description
0,19,0.21,34500,1964.0,1,1828.0,1980.0,1.0,2.0,1,27610.0,1974.0,1,6.21299,306.877319,7.2,10.0,3,1,1714,20,81,7084,"MICKENS, ROBERT EARL & ANNIE M",NaN,2457 BERTIE DR,RALEIGH NC 27610-1730,2457 BERTIE DR,LO22 LONGVIEW GARDENS BLR
1,2694,0.30,22500,1961.0,1,1292.0,1985.0,1.0,2.0,1,27610.0,1974.0,1,6.21299,306.877319,7.2,13.0,3,1,1723,14,24,6984,"TERRELL, WILLIAM M & RUTH H",NaN,46 INDIAN TRL,SANFORD NC 27332-8384,708 COOPER RD,LO150 WORTHDALE ADDN SE1
2,3021,0.28,19500,1959.0,1,1125.0,1959.0,1.0,1.0,1,27610.0,1974.0,1,6.21299,306.877319,7.2,15.0,3,0,1713,16,94,6543,"HOUSTON, PRINCE L",NaN,816 FRIAR TUCK RD,RALEIGH NC 27610-3633,816 FRIAR TUCK RD,LO97 WORTHDALE SE2
3,4929,0.30,17000,1963.0,1,1417.0,1985.0,1.0,1.5,1,27610.0,1974.0,1,6.21299,306.877319,7.2,11.0,3,1,1723,14,34,4102,"NICHOLSON, ROSA J",NaN,3315 BELL DR,RALEIGH NC 27610-3760,3315 BELL DR,LO31 WORTHDALE SE3
4,6064,0.13,1500,2006.0,1,1143.0,2006.0,1.0,2.0,1,27610.0,1974.0,1,6.21299,306.877319,7.2,-32.0,3,1,1713,6,38,443,"WIMBERLEY, ALFRED G",NaN,PO BOX 27444,RALEIGH NC 27611-7444,1318 BATTERY DR,LO118 RCMB BATTERY HEIGHTS BM2019-00378

In [32]:
df_3['owner2'] = df_3['owner2'].fillna('')
df_3['mailing_address2'] = df_3['mailing_address2'].fillna('')

df_3['owner'] = df_3['owner1'] + ' ' + df_3['owner2']
df_3['mailing_address'] = df_3['mailing_address1'] + ' ' + df_3['mailing_address2']
df_3 = df_3.drop(['owner1', 'owner2', 'mailing_address1', 'mailing_address2'], axis=1)
df_3 = df_3[df_3['property_description'].notna()]
df_3.shape

(326093, 27)

<font color=red>now let's process natural language variables like 'owner', 'mailing_address', 'physical_location' and 'property_description', first, let's test these variables separately.

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

<font color=red>'owner'

In [61]:
X = df_3.owner
y = df_3['total_sale_price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=42)
# CountVectorizer()
count_vec = CountVectorizer()
count_train = count_vec.fit_transform(X_train)
count_test = count_vec.transform(X_test)
lr = LinearRegression().fit(count_train, y_train)
y_test_pred = lr.predict(count_test)
print(f"owner_CountVectorizer_vs_total_sale_price r2 score:{r2_score(y_test, y_test_pred)}")
#TfidfVectorizer()
tfidf_vec = TfidfVectorizer()
tfidf_train = tfidf_vec.fit_transform(X_train)
tfidf_test = tfidf_vec.transform(X_test)
lr = LinearRegression().fit(tfidf_train, y_train)
y_test_pred = lr.predict(tfidf_test)
print(f"owner_TfidfVectorizer_vs_total_sale_price r2 score:{r2_score(y_test, y_test_pred)}")

owner_CountVectorizer_vs_total_sale_price r2 score:-0.17959751891013065
owner_TfidfVectorizer_vs_total_sale_price r2 score:-0.18379504843334948

<font color=red>'mailing_address'

In [62]:
X = df_3.mailing_address
y = df_3['total_sale_price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=42)
# CountVectorizer()
count_vec = CountVectorizer()
count_train = count_vec.fit_transform(X_train)
count_test = count_vec.transform(X_test)
lr = LinearRegression().fit(count_train, y_train)
y_test_pred = lr.predict(count_test)
print(f"mailing_address_CountVectorizer_vs_total_sale_price r2 score:{r2_score(y_test, y_test_pred)}")
#TfidfVectorizer()
tfidf_vec = TfidfVectorizer()
tfidf_train = tfidf_vec.fit_transform(X_train)
tfidf_test = tfidf_vec.transform(X_test)
lr = LinearRegression().fit(tfidf_train, y_train)
y_test_pred = lr.predict(tfidf_test)
print(f"mailing_address_TfidfVectorizer_vs_total_sale_price r2 score:{r2_score(y_test, y_test_pred)}")

mailing_address_CountVectorizer_vs_total_sale_price r2 score:0.3193760714633239
mailing_address_TfidfVectorizer_vs_total_sale_price r2 score:0.3140565327304934

<font color=red>'physical_location'

In [63]:
X = df_3.physical_location
y = df_3['total_sale_price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=42)
# CountVectorizer()
count_vec = CountVectorizer()
count_train = count_vec.fit_transform(X_train)
count_test = count_vec.transform(X_test)
lr = LinearRegression().fit(count_train, y_train)
y_test_pred = lr.predict(count_test)
print(f"physical_location_CountVectorizer_vs_total_sale_price r2 score:{r2_score(y_test, y_test_pred)}")
#TfidfVectorizer()
tfidf_vec = TfidfVectorizer()
tfidf_train = tfidf_vec.fit_transform(X_train)
tfidf_test = tfidf_vec.transform(X_test)
lr = LinearRegression().fit(tfidf_train, y_train)
y_test_pred = lr.predict(tfidf_test)
print(f"physical_location_TfidfVectorizer_vs_total_sale_price r2 score:{r2_score(y_test, y_test_pred)}")

physical_location_CountVectorizer_vs_total_sale_price r2 score:0.38551136375845574
physical_location_TfidfVectorizer_vs_total_sale_price r2 score:0.3819115451381475

<font color=red>'property_description'

In [64]:
X = df_3.property_description
y = df_3['total_sale_price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=42)
# CountVectorizer()
count_vec = CountVectorizer()
count_train = count_vec.fit_transform(X_train)
count_test = count_vec.transform(X_test)
lr = LinearRegression().fit(count_train, y_train)
y_test_pred = lr.predict(count_test)
print(f"property_description_CountVectorizer_vs_total_sale_price r2 score:{r2_score(y_test, y_test_pred)}")
#TfidfVectorizer()
tfidf_vec = TfidfVectorizer()
tfidf_train = tfidf_vec.fit_transform(X_train)
tfidf_test = tfidf_vec.transform(X_test)
lr = LinearRegression().fit(tfidf_train, y_train)
y_test_pred = lr.predict(tfidf_test)
print(f"property_description_TfidfVectorizer_vs_total_sale_price r2 score:{r2_score(y_test, y_test_pred)}")

property_description_CountVectorizer_vs_total_sale_price r2 score:0.4528445099432701
property_description_TfidfVectorizer_vs_total_sale_price r2 score:0.4555200719538012

<font color=red>based on the result, we decide only use 'property_description' and CountVectorizer() with max_features=100 to avoid crash of kernel.

In [33]:
df_3 = df_3.drop(['owner', 'mailing_address', 'physical_location'], axis=1)
df_3['property_description'] = df_3['property_description'].astype('category')
df_3.shape

(326093, 24)

### 4.8.2 Modelling

In [63]:
X = df_3.drop('total_sale_price', axis=1)
y = df_3['total_sale_price']

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=42)

In [65]:
X_train_num = X_train.select_dtypes(['int64', 'float64'])
X_test_num = X_test.select_dtypes(['int64', 'float64'])
X_train_nl = X_train.select_dtypes(['category'])
X_test_nl = X_test.select_dtypes(['category'])

In [66]:
scaler = StandardScaler()
scaler.fit(X_train_num)
X_train_num.iloc[:,:] = scaler.transform(X_train_num)
X_test_num.iloc[:,:] = scaler.transform(X_test_num)

In [67]:
count_vec = CountVectorizer(max_features=100)
index_train = X_train_nl.index
index_test = X_test_nl.index
X_train_nl = pd.DataFrame(count_vec.fit_transform(X_train_nl['property_description']).toarray(), index=index_train,\
                          columns=count_vec.get_feature_names_out())
X_test_nl = pd.DataFrame(count_vec.transform(X_test_nl['property_description']).toarray(), index=index_test,\
                         columns=count_vec.get_feature_names_out())

In [68]:
X_train_final = pd.concat([X_train_num, X_train_nl], axis=1)
X_test_final = pd.concat([X_test_num, X_test_nl], axis=1)

In [69]:
X_train_final.shape, X_test_final.shape

((309788, 122), (16305, 122))

In [70]:
lr_3 = LinearRegression().fit(X_train_final, y_train)

In [71]:
y_train_pred = lr_3.predict(X_train_final)
y_test_pred = lr_3.predict(X_test_final)

In [72]:
print('R2', r2_score(y_train, y_train_pred), r2_score(y_test, y_test_pred))
print('MAE', mean_absolute_error(y_train, y_train_pred), mean_absolute_error(y_test, y_test_pred))
print('RMSE', np.sqrt(mean_squared_error(y_train, y_train_pred)), np.sqrt(mean_squared_error(y_test, y_test_pred)))

R2 0.7161988772095144 0.7438554960269403
MAE 69186.34623122297 67862.0046541156
RMSE 117034.95053965364 108653.60875834503

In [73]:
estimator = LinearRegression()

In [74]:
res_train_3, res_test_3, res_metrics_3 = cross_validate(df_3, estimator, test_p=0.05, n=20)

In [75]:
res_metrics_3

,train_r2,test_r2,train_mae,test_mae,train_rmse,test_rmse
0,0.719789,0.676721,69071.389352,69490.324036,115921.762150,129556.128867
1,0.718832,0.693694,69059.442389,69803.895450,116230.375164,123984.746295
2,0.716563,0.736172,69113.379551,68763.086115,116886.554094,111642.542764
3,0.718162,0.705348,69097.394154,69278.579655,116526.197960,118573.253702
4,0.716620,0.734897,69105.530099,68619.632593,116847.525810,112415.844109
5,0.716705,0.733433,69095.632969,69060.983919,116870.697586,111970.742742
6,0.718505,0.700413,68931.620312,70479.809736,116119.374301,125979.058306
7,0.717717,0.690941,68939.703477,69298.086969,116457.926548,124588.388526
8,0.716990,0.727104,69037.176173,69923.356226,116574.963269,117676.620190
9,0.717892,0.708752,69190.872099,68363.991933,116580.010363,117916.266262
10,0.718336,0.702298,69139.724980,68482.348254,116404.462930,120850.292006
11,0.717802,0.712405,69040.630354,69780.237670,116455.348394,119906.680521
12,0.717986,0.709174,69026.195942,69697.021801,116374.931174,121384.193755
13,0.716472,0.739105,69170.906817,68251.815527,117071.760277,107896.312404
14,0.718364,0.701731,69077.404513,69185.154522,116419.179845,120574.755036
15,0.718431,0.700488,69072.706658,69277.539002,116411.294528,120708.047262
16,0.716286,0.742329,69149.379563,68408.805985,117033.426812,108677.321417
17,0.717772,0.712920,68999.151306,70014.958885,116492.394918,119222.915475
18,0.718903,0.692189,69099.600147,68967.975703,116240.507851,123809.734169
19,0.717898,0.710757,69066.813055,69591.389124,116408.294247,120763.898490

### 4.8.3 Hyperparameter Table Updated

In [76]:
param_values = ['Linear Regression', 3, 95, 'Yes', 'Yes', X_train_num.shape[1], 1, 'CountVectorizer', 5, 'Yes', 'Yes', 20,
                res_metrics_3['train_rmse'].mean(), res_metrics_3['train_rmse'].std(), 
                res_metrics_3['test_rmse'].mean(), res_metrics_3['test_rmse'].std()]

for name, value in zip(param_names, param_values):
    hyperparameter_table[name][3] = value
    
pd.DataFrame(hyperparameter_table)

,Model_Name,Exp,Dropna_Thres%,Drop_Dupe,Only_Residential,n_Num,n_Cat,Cat_Encode,Test_P%,Scale,Cross_Val,N_Shuffle,Train_RMSE_mean,Train_RMSE_std,Test_RMSE_mean,Test_RMSE_std
1,Linear Regression,1,95,Yes,Yes,16,0,NaN,5,Yes,Yes,20,125523.452157,327.365201,126340.616708,6006.112892
2,Linear Regression,2,95,Yes,Yes,22,0,NaN,5,Yes,Yes,20,118512.073236,257.856267,117075.237657,5022.321916
3,Linear Regression,3,95,Yes,Yes,22,1,CountVectorizer,5,Yes,Yes,20,116516.349411,298.866353,118904.887115,5792.504617

## 4.9 Exp_4 Add Categorical Variables

### 4.9.1 Setup Dataframe

In [34]:
df_4 = pd.concat([df_3, house.loc[df_3.index,['planning_jurisdiction', 'township', 'billing_class', 'land_classification', 'utilities', 'design_style',\
                                              'foundation_basement', 'exterior_wall', 'heat',  'air', 'disq_and_qual_flag', 'land_disq_and_qual_flag',\
                                              'type_and_use', 'physical_city', 'nearest_city']]], axis=1)

In [35]:
df_4.isna().sum()

real_estate_id                     0
deeded_acreage                     0
total_sale_price                   0
year_built                         0
units                              0
heated_area                        0
effective_year                     0
story_height                       0
bath                               0
recycled_units                     0
physical_zip_code                  0
total_sale_year                    0
total_sale_month                   0
distance_nearest_city              0
population_per_square_mile         0
unemployment_rate                  0
age_sale                           0
grade                              0
fireplace                          0
PI_1                               0
PI_2                               0
PI_3                               0
PI_4                               0
property_description               0
planning_jurisdiction              0
township                           0
billing_class                      0
land_classification                7
utilities                       2160
design_style                    1217
foundation_basement                0
exterior_wall                   1217
heat                            1224
air                             1217
disq_and_qual_flag               186
land_disq_and_qual_flag       196200
type_and_use                       0
physical_city                      0
nearest_city                       0
dtype: int64

In [36]:
df_4 = df_4[df_4['land_classification'].notna()]
df_4.shape

(326086, 39)

In [37]:
df_4['utilities'] = df_4.groupby(['physical_city', 'total_sale_year'])['utilities'].transform(lambda x:x.fillna(x.mode().iloc[0]))
df_4['design_style'] = df_4.groupby(['physical_city', 'total_sale_year'])['design_style'].transform(lambda x:x.fillna(x.mode().iloc[0]))
df_4['exterior_wall'] = df_4.groupby(['physical_city', 'total_sale_year'])['exterior_wall'].transform(lambda x:x.fillna(x.mode().iloc[0]))
df_4['heat'] = df_4.groupby(['physical_city', 'total_sale_year'])['heat'].transform(lambda x:x.fillna(x.mode().iloc[0]))
df_4['air'] = df_4.groupby(['physical_city', 'total_sale_year'])['air'].transform(lambda x:x.fillna(x.mode().iloc[0]))

In [38]:
df_4['land_disq_and_qual_flag'].unique()

array([nan, 'A', 'T', 'C', 'E', 'L', 'R', 'I', 'D', 'V', 'S', 'F', 'P',
       'K', 'J', 'O', 'N', 'G', 'H'], dtype=object)

In [39]:
df_4['land_disq_and_qual_flag'] = df_4['land_disq_and_qual_flag'].fillna('A')

based on the code description, land_disq_and_qual_flag is A or C means qualified, others mean disqualified.

In [40]:
df_4.loc[df_4['land_disq_and_qual_flag']=='A', 'land_qualified'] = 'Yes'
df_4.loc[df_4['land_disq_and_qual_flag']=='C', 'land_qualified'] = 'Yes'
df_4.loc[(df_4['land_disq_and_qual_flag']!='A')&(df_4['land_disq_and_qual_flag']!='C'), 'land_qualified'] = 'No'

In [41]:
df_4 = df_4.drop('land_disq_and_qual_flag', axis=1)
df_4.shape

(326086, 39)

In [42]:
df_4['disq_and_qual_flag'].unique()

array(['A', 'T', nan, 'E', 'I', 'U', 'F', 'D', 'C', 'S', 'K', 'N', 'P',
       'L', 'R', 'V', 'O', 'G', 'J', 'H'], dtype=object)

In [43]:
df_4['disq_and_qual_flag'] = df_4['disq_and_qual_flag'].fillna('A')
df_4.loc[df_4['disq_and_qual_flag']=='A', 'house_qualified'] = 'Yes'
df_4.loc[df_4['disq_and_qual_flag']=='C', 'house_qualified'] = 'Yes'
df_4.loc[(df_4['disq_and_qual_flag']!='A')&(df_4['disq_and_qual_flag']!='C'), 'house_qualified'] = 'No'
df_4 = df_4.drop('disq_and_qual_flag', axis=1)
df_4.shape

(326086, 39)

### 4.9.2 Modelling

In [87]:
df_4_dummy = pd.get_dummies(df_4, columns=df_4.select_dtypes(['object']).columns)

In [88]:
X = df_4_dummy.drop('total_sale_price', axis=1)
y = df_4_dummy['total_sale_price']

In [89]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=42)

In [90]:
X_train_num = X_train.select_dtypes(['int64', 'float64'])
X_test_num = X_test.select_dtypes(['int64', 'float64'])
X_train_nl = X_train.select_dtypes(['category'])
X_test_nl = X_test.select_dtypes(['category'])
X_train_bool = X_train.select_dtypes(['bool'])
X_test_bool = X_test.select_dtypes(['bool'])

In [91]:
scaler = StandardScaler()
scaler.fit(X_train_num)
X_train_num.iloc[:,:] = scaler.transform(X_train_num)
X_test_num.iloc[:,:] = scaler.transform(X_test_num)

In [92]:
count_vec = CountVectorizer(max_features=100)
index_train = X_train_nl.index
index_test = X_test_nl.index
X_train_nl = pd.DataFrame(count_vec.fit_transform(X_train_nl['property_description']).toarray(), index=index_train,\
                          columns=count_vec.get_feature_names_out())
X_test_nl = pd.DataFrame(count_vec.transform(X_test_nl['property_description']).toarray(), index=index_test,\
                         columns=count_vec.get_feature_names_out())

In [93]:
X_train_final = pd.concat([X_train_num, X_train_nl, X_train_bool], axis=1)
X_test_final = pd.concat([X_test_num, X_test_nl, X_test_bool], axis=1)

In [94]:
X_train_final.shape, X_test_final.shape

((309781, 289), (16305, 289))

In [95]:
lr_4 = LinearRegression().fit(X_train_final, y_train)

In [96]:
y_train_pred = lr_4.predict(X_train_final)
y_test_pred = lr_4.predict(X_test_final)

In [97]:
print('R2', r2_score(y_train, y_train_pred), r2_score(y_test, y_test_pred))
print('MAE', mean_absolute_error(y_train, y_train_pred), mean_absolute_error(y_test, y_test_pred))
print('RMSE', np.sqrt(mean_squared_error(y_train, y_train_pred)), np.sqrt(mean_squared_error(y_test, y_test_pred)))

R2 0.7356352753928179 0.7629265081621341
MAE 66732.4338968497 65261.404170499845
RMSE 113046.75974351827 102783.44773760873

In [98]:
estimator = LinearRegression()

In [99]:
res_train_4, res_test_4, res_metrics_4 = cross_validate(df_4_dummy, estimator, test_p=0.05, n=20)

In [100]:
res_metrics_4

,train_r2,test_r2,train_mae,test_mae,train_rmse,test_rmse
0,0.739118,6.964379e-01,66529.254170,6.804462e+04,111879.091518,1.249489e+05
1,0.737379,-2.146139e+18,66542.550111,2.545623e+12,112386.584022,3.250533e+14
2,0.738938,7.004986e-01,66524.441321,6.764983e+04,111924.922144,1.239692e+05
3,0.737580,-3.167753e+15,66614.886349,9.683229e+10,112403.393989,1.236461e+13
4,0.736931,-3.793946e+17,66607.026380,1.049159e+12,112600.872862,1.339681e+14
5,0.739891,6.850318e-01,66558.547141,6.775525e+04,111638.750687,1.287717e+05
6,0.737747,7.204714e-01,66619.648352,6.677071e+04,112397.380485,1.155592e+05
7,0.736682,7.213361e-01,66521.587812,6.671395e+04,112659.649704,1.147111e+05
8,0.738622,7.042192e-01,66560.868688,6.664034e+04,111985.771393,1.233346e+05
9,0.735999,7.549318e-01,66611.145348,6.690059e+04,112904.822393,1.057232e+05
10,0.735280,-3.255815e+18,66721.360823,3.031476e+12,113032.167144,3.870923e+14
11,0.737429,7.261832e-01,66600.096126,6.654382e+04,112438.147177,1.149029e+05
12,0.736255,7.492492e-01,66594.752538,6.657470e+04,112713.635425,1.095101e+05
13,0.737827,7.187324e-01,66656.323490,6.599131e+04,112342.717866,1.166597e+05
14,0.735980,-7.165369e+15,66650.171734,2.013719e+11,112875.852817,1.818354e+13
15,0.736282,-2.226596e+18,66544.640194,2.608065e+12,112585.305561,3.330266e+14
16,0.736598,7.424414e-01,66611.081099,6.623300e+04,112703.016861,1.097964e+05
17,0.737495,7.236244e-01,66565.879121,6.722683e+04,112407.085683,1.157722e+05
18,0.736334,-7.511794e+15,66657.758600,1.455535e+11,112810.030383,1.858587e+13
19,0.739135,6.985266e-01,66469.368196,6.854439e+04,111745.299859,1.270576e+05

### 4.9.3 Hyperparameter Table Updated

In [101]:
param_values = ['Linear Regression', 4, 95, 'Yes', 'Yes', X_train_num.shape[1], 16, "CountVectorizer and pd.get_dummies", 5, 'Yes', 'Yes', 20,
                res_metrics_4['train_rmse'].mean(), res_metrics_4['train_rmse'].std(), 
                res_metrics_4['test_rmse'].mean(), res_metrics_4['test_rmse'].std()]

for name, value in zip(param_names, param_values):
    hyperparameter_table[name][4] = value
    
pd.DataFrame(hyperparameter_table)

,Model_Name,Exp,Dropna_Thres%,Drop_Dupe,Only_Residential,n_Num,n_Cat,Cat_Encode,Test_P%,Scale,Cross_Val,N_Shuffle,Train_RMSE_mean,Train_RMSE_std,Test_RMSE_mean,Test_RMSE_std
1,Linear Regression,1,95,Yes,Yes,16,0,NaN,5,Yes,Yes,20,125523.452157,327.365201,1.263406e+05,6.006113e+03
2,Linear Regression,2,95,Yes,Yes,22,0,NaN,5,Yes,Yes,20,118512.073236,257.856267,1.170752e+05,5.022322e+03
3,Linear Regression,3,95,Yes,Yes,22,1,CountVectorizer,5,Yes,Yes,20,116516.349411,298.866353,1.189049e+05,5.792505e+03
4,Linear Regression,4,95,Yes,Yes,22,16,CountVectorizer and pd.get_dummies,5,Yes,Yes,20,112421.724899,400.896531,6.141371e+13,1.276818e+14

<font color=red>**the linearregression model becames very unstable....**

## 4.10 Exp_5 RandomForestRegressor Use All Variables

In [167]:
from sklearnex import patch_sklearn
from sklearnex import get_patch_names
patch_sklearn('random_forest_regressor')

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [102]:
from sklearn.ensemble import RandomForestRegressor

In [103]:
# set n_estimators=100, max_depth=5, n_jobs=-1 to accelerate the training process
rf_1 = RandomForestRegressor(n_estimators=100, max_depth=5, n_jobs=-1, random_state=42).fit(X_train_final, y_train)

In [104]:
y_train_pred = rf_1.predict(X_train_final)
y_test_pred = rf_1.predict(X_test_final)

In [105]:
print('R2', r2_score(y_train, y_train_pred), r2_score(y_test, y_test_pred))
print('MAE', mean_absolute_error(y_train, y_train_pred), mean_absolute_error(y_test, y_test_pred))
print('RMSE', np.sqrt(mean_squared_error(y_train, y_train_pred)), np.sqrt(mean_squared_error(y_test, y_test_pred)))

R2 0.7564953681783959 0.7801645619623679
MAE 65242.80113384225 63363.19370942687
RMSE 108495.06380947771 98976.14504854896

In [106]:
estimator = RandomForestRegressor(n_estimators=100, max_depth=5, n_jobs=-1, random_state=42)

In [107]:
res_train_5, res_test_5, res_metrics_5 = cross_validate(df_4_dummy, estimator, test_p=0.05, n=5)

In [108]:
res_metrics_5

,train_r2,test_r2,train_mae,test_mae,train_rmse,test_rmse
0,0.757851,0.765779,64824.769809,65096.607169,107870.190501,108242.381835
1,0.760568,0.714475,64644.663825,65056.365514,106976.236720,125214.267101
2,0.758834,0.773221,64688.047058,65100.287467,107803.656896,103724.539832
3,0.758861,0.736671,65178.922527,65820.164120,107512.233075,117333.943077
4,0.758958,0.734181,65014.394183,64944.311497,107688.058152,114049.483441

In [109]:
param_values = ['RandomForestRegressor', 5, 95, 'Yes', 'Yes', X_train_num.shape[1], 16, "CountVectorizer and pd.get_dummies", 5, 'Yes', 'Yes', 5,
                res_metrics_5['train_rmse'].mean(), res_metrics_5['train_rmse'].std(), 
                res_metrics_5['test_rmse'].mean(), res_metrics_5['test_rmse'].std()]

for name, value in zip(param_names, param_values):
    hyperparameter_table[name][5] = value
    
pd.DataFrame(hyperparameter_table)

,Model_Name,Exp,Dropna_Thres%,Drop_Dupe,Only_Residential,n_Num,n_Cat,Cat_Encode,Test_P%,Scale,Cross_Val,N_Shuffle,Train_RMSE_mean,Train_RMSE_std,Test_RMSE_mean,Test_RMSE_std
1,Linear Regression,1,95,Yes,Yes,16,0,NaN,5,Yes,Yes,20,125523.452157,327.365201,1.263406e+05,6.006113e+03
2,Linear Regression,2,95,Yes,Yes,22,0,NaN,5,Yes,Yes,20,118512.073236,257.856267,1.170752e+05,5.022322e+03
3,Linear Regression,3,95,Yes,Yes,22,1,CountVectorizer,5,Yes,Yes,20,116516.349411,298.866353,1.189049e+05,5.792505e+03
4,Linear Regression,4,95,Yes,Yes,22,16,CountVectorizer and pd.get_dummies,5,Yes,Yes,20,112421.724899,400.896531,6.141371e+13,1.276818e+14
5,RandomForestRegressor,5,95,Yes,Yes,22,16,CountVectorizer and pd.get_dummies,5,Yes,Yes,5,107570.075069,358.657020,1.137129e+05,8.294585e+03

<font color=red>**since the dataset is large and emsemble method is slow, all following methods will only use continuous variables**

## 4.11 Exp_6 RandomForestRegressor Use Only Continuous Variables

In [110]:
df_6 = df_4.select_dtypes(['int64', 'float64'])
df_6.head()

,real_estate_id,deeded_acreage,total_sale_price,year_built,units,heated_area,effective_year,story_height,bath,recycled_units,physical_zip_code,total_sale_year,total_sale_month,distance_nearest_city,population_per_square_mile,unemployment_rate,age_sale,grade,fireplace,PI_1,PI_2,PI_3,PI_4
0,19,0.21,34500,1964.0,1,1828.0,1980.0,1.0,2.0,1,27610.0,1974.0,1,6.21299,306.877319,7.2,10.0,3,1,1714,20,81,7084
1,2694,0.30,22500,1961.0,1,1292.0,1985.0,1.0,2.0,1,27610.0,1974.0,1,6.21299,306.877319,7.2,13.0,3,1,1723,14,24,6984
2,3021,0.28,19500,1959.0,1,1125.0,1959.0,1.0,1.0,1,27610.0,1974.0,1,6.21299,306.877319,7.2,15.0,3,0,1713,16,94,6543
3,4929,0.30,17000,1963.0,1,1417.0,1985.0,1.0,1.5,1,27610.0,1974.0,1,6.21299,306.877319,7.2,11.0,3,1,1723,14,34,4102
4,6064,0.13,1500,2006.0,1,1143.0,2006.0,1.0,2.0,1,27610.0,1974.0,1,6.21299,306.877319,7.2,-32.0,3,1,1713,6,38,443

In [111]:
X = df_6.drop('total_sale_price', axis=1)
y = df_6['total_sale_price']

In [112]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=42)

In [113]:
# set n_estimators=100, max_depth=10, n_jobs=-1 to accelerate the training process
rf_2 = RandomForestRegressor(n_estimators=100, max_depth=5, n_jobs=-1, random_state=42).fit(X_train, y_train)

In [114]:
y_train_pred = rf_2.predict(X_train)
y_test_pred = rf_2.predict(X_test)

In [115]:
print('R2', r2_score(y_train, y_train_pred), r2_score(y_test, y_test_pred))
print('MAE', mean_absolute_error(y_train, y_train_pred), mean_absolute_error(y_test, y_test_pred))
print('RMSE', np.sqrt(mean_squared_error(y_train, y_train_pred)), np.sqrt(mean_squared_error(y_test, y_test_pred)))

R2 0.7551451588705896 0.7787969224847824
MAE 65284.660258864016 63420.07484160151
RMSE 108795.44523415319 99283.54272254313

In [116]:
estimator = RandomForestRegressor(n_estimators=100, max_depth=5, n_jobs=-1, random_state=42)

In [117]:
res_train_6, res_test_6, res_metrics_6 = cross_validate(df_6, estimator, test_p=0.05, n=5)

In [118]:
res_metrics_6

,train_r2,test_r2,train_mae,test_mae,train_rmse,test_rmse
0,0.756942,0.764587,64997.240724,65361.929066,108306.784038,104138.467985
1,0.756477,0.759674,65077.577153,65241.087878,108403.350553,105355.439232
2,0.755793,0.773421,65151.549417,64573.319705,108607.658293,101315.537275
3,0.758104,0.733517,64874.735638,65406.106413,107800.067360,115736.310002
4,0.754644,0.780377,65409.735591,64777.546779,108786.850194,101150.464215

In [119]:
param_values = ['RandomForestRegressor', 6, 95, 'Yes', 'Yes', X_train.shape[1], 0, np.nan, 5, 'Yes', 'Yes', 5,
                res_metrics_6['train_rmse'].mean(), res_metrics_6['train_rmse'].std(), 
                res_metrics_6['test_rmse'].mean(), res_metrics_6['test_rmse'].std()]

for name, value in zip(param_names, param_values):
    hyperparameter_table[name][6] = value
    
pd.DataFrame(hyperparameter_table)

,Model_Name,Exp,Dropna_Thres%,Drop_Dupe,Only_Residential,n_Num,n_Cat,Cat_Encode,Test_P%,Scale,Cross_Val,N_Shuffle,Train_RMSE_mean,Train_RMSE_std,Test_RMSE_mean,Test_RMSE_std
1,Linear Regression,1,95,Yes,Yes,16,0,NaN,5,Yes,Yes,20,125523.452157,327.365201,1.263406e+05,6.006113e+03
2,Linear Regression,2,95,Yes,Yes,22,0,NaN,5,Yes,Yes,20,118512.073236,257.856267,1.170752e+05,5.022322e+03
3,Linear Regression,3,95,Yes,Yes,22,1,CountVectorizer,5,Yes,Yes,20,116516.349411,298.866353,1.189049e+05,5.792505e+03
4,Linear Regression,4,95,Yes,Yes,22,16,CountVectorizer and pd.get_dummies,5,Yes,Yes,20,112421.724899,400.896531,6.141371e+13,1.276818e+14
5,RandomForestRegressor,5,95,Yes,Yes,22,16,CountVectorizer and pd.get_dummies,5,Yes,Yes,5,107570.075069,358.657020,1.137129e+05,8.294585e+03
6,RandomForestRegressor,6,95,Yes,Yes,22,0,NaN,5,Yes,Yes,5,108380.942088,374.024944,1.055392e+05,5.980744e+03

## 4.12 Exp_7 Gradient Boost Regression Use Only Continuous Variables

In [120]:
from sklearn.ensemble import GradientBoostingRegressor

In [121]:
# set n_estimators=100, max_depth=5 to compare with RandomForestRegressor
gb_1 = GradientBoostingRegressor(n_estimators=100, max_depth=5, random_state=42).fit(X_train, y_train)

In [122]:
y_train_pred = gb_1.predict(X_train)
y_test_pred = gb_1.predict(X_test)

In [123]:
print('R2', r2_score(y_train, y_train_pred), r2_score(y_test, y_test_pred))
print('MAE', mean_absolute_error(y_train, y_train_pred), mean_absolute_error(y_test, y_test_pred))
print('RMSE', np.sqrt(mean_squared_error(y_train, y_train_pred)), np.sqrt(mean_squared_error(y_test, y_test_pred)))

R2 0.9005387151097674 0.8984739690640582
MAE 38212.86694583592 37977.484755487
RMSE 69339.93001379588 67262.09457132903

In [124]:
estimator = GradientBoostingRegressor(n_estimators=100, max_depth=5, random_state=42)

In [125]:
res_train_7, res_test_7, res_metrics_7 = cross_validate(df_6, estimator, test_p=0.05, n=5)

In [126]:
res_metrics_7

   train_r2   test_r2     train_mae      test_mae    train_rmse     test_rmse
0  0.901240  0.890240  38103.836257  39098.207209  68893.293367  74018.056172
1  0.901100  0.895224  38167.429443  38006.383615  69100.291258  69217.086575
2  0.900779  0.889492  38173.378995  39672.969353  69105.786966  73244.704235
3  0.901064  0.845301  38148.932719  39168.709393  68978.274022  87328.130845
4  0.900349  0.895289  38302.326984  38686.509405  69383.951187  68753.863150

In [127]:
param_values = ['GradientBoostingRegressor', 7, 95, 'Yes', 'Yes', X_train.shape[1], 0, np.nan, 5, 'Yes', 'Yes', 5,
                res_metrics_7['train_rmse'].mean(), res_metrics_7['train_rmse'].std(), 
                res_metrics_7['test_rmse'].mean(), res_metrics_7['test_rmse'].std()]

for name, value in zip(param_names, param_values):
    hyperparameter_table[name][7] = value
    
pd.DataFrame(hyperparameter_table)

,Model_Name,Exp,Dropna_Thres%,Drop_Dupe,Only_Residential,n_Num,n_Cat,Cat_Encode,Test_P%,Scale,Cross_Val,N_Shuffle,Train_RMSE_mean,Train_RMSE_std,Test_RMSE_mean,Test_RMSE_std
1,Linear Regression,1,95,Yes,Yes,16,0,NaN,5,Yes,Yes,20,125523.452157,327.365201,1.263406e+05,6.006113e+03
2,Linear Regression,2,95,Yes,Yes,22,0,NaN,5,Yes,Yes,20,118512.073236,257.856267,1.170752e+05,5.022322e+03
3,Linear Regression,3,95,Yes,Yes,22,1,CountVectorizer,5,Yes,Yes,20,116516.349411,298.866353,1.189049e+05,5.792505e+03
4,Linear Regression,4,95,Yes,Yes,22,16,CountVectorizer and pd.get_dummies,5,Yes,Yes,20,112421.724899,400.896531,6.141371e+13,1.276818e+14
5,RandomForestRegressor,5,95,Yes,Yes,22,16,CountVectorizer and pd.get_dummies,5,Yes,Yes,5,107570.075069,358.657020,1.137129e+05,8.294585e+03
6,RandomForestRegressor,6,95,Yes,Yes,22,0,NaN,5,Yes,Yes,5,108380.942088,374.024944,1.055392e+05,5.980744e+03
7,GradientBoostingRegressor,7,95,Yes,Yes,22,0,NaN,5,Yes,Yes,5,69092.319360,185.682346,7.451237e+04,7.538161e+03

## 4.13 Exp_8 Neural Network Use Only Continuous Variables

In [128]:
%store df_6
%store hyperparameter_table

Stored 'df_6' (DataFrame)
Stored 'hyperparameter_table' (dict)

**change kernel to use tensorflow**

In [1]:
%store -r df_6
%store -r hyperparameter_table

In [2]:
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

2024-01-26 12:21:57.711709: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: SSE4.1 SSE4.2 AVX, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [3]:
df_6.head()

,real_estate_id,deeded_acreage,total_sale_price,year_built,units,heated_area,effective_year,story_height,bath,recycled_units,...,distance_nearest_city,population_per_square_mile,unemployment_rate,age_sale,grade,fireplace,PI_1,PI_2,PI_3,PI_4
0,19,0.21,34500,1964.0,1,1828.0,1980.0,1.0,2.0,1,...,6.21299,306.877319,7.2,10.0,3,1,1714,20,81,7084
1,2694,0.30,22500,1961.0,1,1292.0,1985.0,1.0,2.0,1,...,6.21299,306.877319,7.2,13.0,3,1,1723,14,24,6984
2,3021,0.28,19500,1959.0,1,1125.0,1959.0,1.0,1.0,1,...,6.21299,306.877319,7.2,15.0,3,0,1713,16,94,6543
3,4929,0.30,17000,1963.0,1,1417.0,1985.0,1.0,1.5,1,...,6.21299,306.877319,7.2,11.0,3,1,1723,14,34,4102
4,6064,0.13,1500,2006.0,1,1143.0,2006.0,1.0,2.0,1,...,6.21299,306.877319,7.2,-32.0,3,1,1713,6,38,443

In [4]:
df_8 = df_6.copy()
X = df_8.drop('total_sale_price', axis=1)
y = df_8['total_sale_price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=42)
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [5]:
model = Sequential()
model.add(Dense(64, input_dim=X_train_scaled.shape[1], activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='linear'))  # Linear activation for regression

model.compile(optimizer='adam', loss='mean_squared_error')

model.fit(X_train_scaled, y_train, epochs=100, batch_size=32, validation_split=0.05, shuffle=True)

Epoch 1/100
9197/9197 [==============================] - 24s 2ms/step - loss: 44969086976.0000 - val_loss: 14515671040.0000
Epoch 2/100
9197/9197 [==============================] - 23s 2ms/step - loss: 12683394048.0000 - val_loss: 12017928192.0000
Epoch 3/100
9197/9197 [==============================] - 23s 3ms/step - loss: 11645220864.0000 - val_loss: 11627688960.0000
Epoch 4/100
9197/9197 [==============================] - 22s 2ms/step - loss: 11321129984.0000 - val_loss: 11395393536.0000
Epoch 5/100
9197/9197 [==============================] - 24s 3ms/step - loss: 11105601536.0000 - val_loss: 11194725376.0000
Epoch 6/100
9197/9197 [==============================] - 22s 2ms/step - loss: 10921390080.0000 - val_loss: 11027342336.0000
Epoch 7/100
9197/9197 [==============================] - 25s 3ms/step - loss: 10746881024.0000 - val_loss: 10829587456.0000
Epoch 8/100
9197/9197 [==============================] - 23s 3ms/step - loss: 10573936640.0000 - val_loss: 10638131200.0000
Epoch 9/100
9197/9197 [==============================] - 28s 3ms/step - loss: 10408185856.0000 - val_loss: 10494048256.0000
Epoch 10/100
9197/9197 [==============================] - 39s 4ms/step - loss: 10242123776.0000 - val_loss: 10274606080.0000
Epoch 11/100
9197/9197 [==============================] - 24s 3ms/step - loss: 10083956736.0000 - val_loss: 10108640256.0000
Epoch 12/100
9197/9197 [==============================] - 23s 3ms/step - loss: 9920695296.0000 - val_loss: 9922615296.0000
Epoch 13/100
9197/9197 [==============================] - 19s 2ms/step - loss: 9762728960.0000 - val_loss: 9750952960.0000
Epoch 14/100
9197/9197 [==============================] - 19s 2ms/step - loss: 9607040000.0000 - val_loss: 9567534080.0000
Epoch 15/100
9197/9197 [==============================] - 19s 2ms/step - loss: 9455734784.0000 - val_loss: 9397938176.0000
Epoch 16/100
9197/9197 [==============================] - 19s 2ms/step - loss: 9306755072.0000 - val_loss: 9231722496.0000
Epoch 17/100
9197/9197 [==============================] - 21s 2ms/step - loss: 9172393984.0000 - val_loss: 9089669120.0000
Epoch 18/100
9197/9197 [==============================] - 19s 2ms/step - loss: 9044087808.0000 - val_loss: 8953865216.0000
Epoch 19/100
9197/9197 [==============================] - 20s 2ms/step - loss: 8926984192.0000 - val_loss: 8827597824.0000
Epoch 20/100
9197/9197 [==============================] - 19s 2ms/step - loss: 8818518016.0000 - val_loss: 8732448768.0000
Epoch 21/100
9197/9197 [==============================] - 20s 2ms/step - loss: 8720246784.0000 - val_loss: 8591675392.0000
Epoch 22/100
9197/9197 [==============================] - 26s 3ms/step - loss: 8630950912.0000 - val_loss: 8467904512.0000
Epoch 23/100
9197/9197 [==============================] - 26s 3ms/step - loss: 8552568832.0000 - val_loss: 8392940032.0000
Epoch 24/100
9197/9197 [==============================] - 25s 3ms/step - loss: 8476294144.0000 - val_loss: 8307273728.0000
Epoch 25/100
9197/9197 [==============================] - 24s 3ms/step - loss: 8410162176.0000 - val_loss: 8236363264.0000
Epoch 26/100
9197/9197 [==============================] - 24s 3ms/step - loss: 8346917888.0000 - val_loss: 8160716800.0000
Epoch 27/100
9197/9197 [==============================] - 24s 3ms/step - loss: 8287587328.0000 - val_loss: 8088693760.0000
Epoch 28/100
9197/9197 [==============================] - 25s 3ms/step - loss: 8231317504.0000 - val_loss: 8063270400.0000
Epoch 29/100
9197/9197 [==============================] - 25s 3ms/step - loss: 8187009024.0000 - val_loss: 7980085248.0000
Epoch 30/100
9197/9197 [==============================] - 24s 3ms/step - loss: 8134247936.0000 - val_loss: 7956917248.0000
Epoch 31/100
9197/9197 [==============================] - 27s 3ms/step - loss: 8105856512.0000 - val_loss: 7886033408.0000
Epoch 32/100
9197/9197 [==============================] - 24s 3ms/step - loss: 8057203712.0000 - val_loss: 7845290496.0000
Epoch 33/100
9197/9197 [==============================] - 27s 3ms/step - loss: 8020051456.0000 - val_loss: 7782994944.0000
Epoch 34/100
9197/9197 [==============================] - 25s 3ms/step - loss: 7988148224.0000 - val_loss: 7808848384.0000
Epoch 35/100
9197/9197 [==============================] - 29s 3ms/step - loss: 7952388608.0000 - val_loss: 7714355200.0000
Epoch 36/100
9197/9197 [==============================] - 31s 3ms/step - loss: 7925934592.0000 - val_loss: 7683312128.0000
Epoch 37/100
9197/9197 [==============================] - 27s 3ms/step - loss: 7906861568.0000 - val_loss: 7679169536.0000
Epoch 38/100
9197/9197 [==============================] - 25s 3ms/step - loss: 7879390720.0000 - val_loss: 7641202688.0000
Epoch 39/100
9197/9197 [==============================] - 31s 3ms/step - loss: 7852081152.0000 - val_loss: 7623801344.0000
Epoch 40/100
9197/9197 [==============================] - 30s 3ms/step - loss: 7815831040.0000 - val_loss: 7548661248.0000
Epoch 41/100
9197/9197 [==============================] - 29s 3ms/step - loss: 7796166656.0000 - val_loss: 7562241536.0000
Epoch 42/100
9197/9197 [==============================] - 29s 3ms/step - loss: 7770530304.0000 - val_loss: 7559750656.0000
Epoch 43/100
9197/9197 [==============================] - 29s 3ms/step - loss: 7759350784.0000 - val_loss: 7573080576.0000
Epoch 44/100
9197/9197 [==============================] - 30s 3ms/step - loss: 7736779776.0000 - val_loss: 7524448256.0000
Epoch 45/100
9197/9197 [==============================] - 25s 3ms/step - loss: 7737338880.0000 - val_loss: 7501517824.0000
Epoch 46/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7709661696.0000 - val_loss: 7497242624.0000
Epoch 47/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7690841600.0000 - val_loss: 7458291200.0000
Epoch 48/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7666532864.0000 - val_loss: 7382492672.0000
Epoch 49/100
9197/9197 [==============================] - 25s 3ms/step - loss: 7645256192.0000 - val_loss: 7374449664.0000
Epoch 50/100
9197/9197 [==============================] - 22s 2ms/step - loss: 7634411520.0000 - val_loss: 7368266240.0000
Epoch 51/100
9197/9197 [==============================] - 25s 3ms/step - loss: 7611171328.0000 - val_loss: 7392377344.0000
Epoch 52/100
9197/9197 [==============================] - 26s 3ms/step - loss: 7601952256.0000 - val_loss: 7376581632.0000
Epoch 53/100
9197/9197 [==============================] - 25s 3ms/step - loss: 7590777344.0000 - val_loss: 7308071936.0000
Epoch 54/100
9197/9197 [==============================] - 25s 3ms/step - loss: 7578850304.0000 - val_loss: 7298014208.0000
Epoch 55/100
9197/9197 [==============================] - 20s 2ms/step - loss: 7548926464.0000 - val_loss: 7328350208.0000
Epoch 56/100
9197/9197 [==============================] - 20s 2ms/step - loss: 7542379008.0000 - val_loss: 7321220096.0000
Epoch 57/100
9197/9197 [==============================] - 20s 2ms/step - loss: 7536822784.0000 - val_loss: 7292784640.0000
Epoch 58/100
9197/9197 [==============================] - 21s 2ms/step - loss: 7508943872.0000 - val_loss: 7281741824.0000
Epoch 59/100
9197/9197 [==============================] - 25s 3ms/step - loss: 7491116544.0000 - val_loss: 7242425344.0000
Epoch 60/100
9197/9197 [==============================] - 23s 3ms/step - loss: 7495749120.0000 - val_loss: 7245728768.0000
Epoch 61/100
9197/9197 [==============================] - 39s 4ms/step - loss: 7464581120.0000 - val_loss: 7225489920.0000
Epoch 62/100
9197/9197 [==============================] - 22s 2ms/step - loss: 7455513600.0000 - val_loss: 7219796992.0000
Epoch 63/100
9197/9197 [==============================] - 21s 2ms/step - loss: 7436142592.0000 - val_loss: 7190105600.0000
Epoch 64/100
9197/9197 [==============================] - 35s 4ms/step - loss: 7445630976.0000 - val_loss: 7175406080.0000
Epoch 65/100
9197/9197 [==============================] - 27s 3ms/step - loss: 7422077440.0000 - val_loss: 7145810432.0000
Epoch 66/100
9197/9197 [==============================] - 21s 2ms/step - loss: 7415730688.0000 - val_loss: 7118530560.0000
Epoch 67/100
9197/9197 [==============================] - 20s 2ms/step - loss: 7407311872.0000 - val_loss: 7149879296.0000
Epoch 68/100
9197/9197 [==============================] - 22s 2ms/step - loss: 7392616448.0000 - val_loss: 7129829376.0000
Epoch 69/100
9197/9197 [==============================] - 31s 3ms/step - loss: 7367195136.0000 - val_loss: 7130055168.0000
Epoch 70/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7362764288.0000 - val_loss: 7124355072.0000
Epoch 71/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7362529280.0000 - val_loss: 7127275520.0000
Epoch 72/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7342513664.0000 - val_loss: 7095580672.0000
Epoch 73/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7349651456.0000 - val_loss: 7070313472.0000
Epoch 74/100
9197/9197 [==============================] - 23s 3ms/step - loss: 7323569664.0000 - val_loss: 7053796352.0000
Epoch 75/100
9197/9197 [==============================] - 23s 2ms/step - loss: 7313283584.0000 - val_loss: 7062312448.0000
Epoch 76/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7300822016.0000 - val_loss: 7059641344.0000
Epoch 77/100
9197/9197 [==============================] - 23s 3ms/step - loss: 7318932992.0000 - val_loss: 7046351360.0000
Epoch 78/100
9197/9197 [==============================] - 26s 3ms/step - loss: 7290593792.0000 - val_loss: 7052218880.0000
Epoch 79/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7272292864.0000 - val_loss: 6995283968.0000
Epoch 80/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7269425664.0000 - val_loss: 6971530752.0000
Epoch 81/100
9197/9197 [==============================] - 25s 3ms/step - loss: 7261746176.0000 - val_loss: 7049702912.0000
Epoch 82/100
9197/9197 [==============================] - 23s 3ms/step - loss: 7250626560.0000 - val_loss: 6988779520.0000
Epoch 83/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7237032448.0000 - val_loss: 6997984256.0000
Epoch 84/100
9197/9197 [==============================] - 25s 3ms/step - loss: 7247162368.0000 - val_loss: 6994269696.0000
Epoch 85/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7226589696.0000 - val_loss: 6990707200.0000
Epoch 86/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7236318720.0000 - val_loss: 6942415872.0000
Epoch 87/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7212795904.0000 - val_loss: 6916002816.0000
Epoch 88/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7194064896.0000 - val_loss: 6952313856.0000
Epoch 89/100
9197/9197 [==============================] - 25s 3ms/step - loss: 7215492096.0000 - val_loss: 6949923328.0000
Epoch 90/100
9197/9197 [==============================] - 23s 3ms/step - loss: 7193915904.0000 - val_loss: 6949249024.0000
Epoch 91/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7190806016.0000 - val_loss: 6944058368.0000
Epoch 92/100
9197/9197 [==============================] - 50s 5ms/step - loss: 7177851904.0000 - val_loss: 6885204992.0000
Epoch 93/100
9197/9197 [==============================] - 35s 4ms/step - loss: 7191381504.0000 - val_loss: 6959243776.0000
Epoch 94/100
9197/9197 [==============================] - 25s 3ms/step - loss: 7170870272.0000 - val_loss: 6884399616.0000
Epoch 95/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7156121600.0000 - val_loss: 6919496192.0000
Epoch 96/100
9197/9197 [==============================] - 23s 2ms/step - loss: 7159963136.0000 - val_loss: 6880596992.0000
Epoch 97/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7135497728.0000 - val_loss: 6872214528.0000
Epoch 98/100
9197/9197 [==============================] - 23s 2ms/step - loss: 7129891328.0000 - val_loss: 6880252928.0000
Epoch 99/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7139392000.0000 - val_loss: 6854134784.0000
Epoch 100/100
9197/9197 [==============================] - 24s 3ms/step - loss: 7140066304.0000 - val_loss: 6877703680.0000

In [6]:
y_train_pred = model.predict(X_train_scaled)
y_test_pred = model.predict(X_test_scaled)

9681/9681 [==============================] - 16s 2ms/step
510/510 [==============================] - 1s 3ms/step

In [7]:
print('R2', r2_score(y_train, y_train_pred), r2_score(y_test, y_test_pred))
print('MAE', mean_absolute_error(y_train, y_train_pred), mean_absolute_error(y_test, y_test_pred))
print('RMSE', np.sqrt(mean_squared_error(y_train, y_train_pred)), np.sqrt(mean_squared_error(y_test, y_test_pred)))

R2 0.8532914680971644 0.874516404248026
MAE 43292.41333376532 42228.42380234836
RMSE 84213.9526671584 74778.22647289406

In [8]:
param_names = list(hyperparameter_table.keys())
param_values = ['Neural Network', 8, 95, 'Yes', 'Yes', X_train.shape[1], 0, np.nan, 5, 'Yes', 'Yes', np.nan,
                np.sqrt(mean_squared_error(y_train, y_train_pred)), np.nan, 
                np.sqrt(mean_squared_error(y_test, y_test_pred)), np.nan]

for name, value in zip(param_names, param_values):
    hyperparameter_table[name][8] = value
    
pd.DataFrame(hyperparameter_table)

,Model_Name,Exp,Dropna_Thres%,Drop_Dupe,Only_Residential,n_Num,n_Cat,Cat_Encode,Test_P%,Scale,Cross_Val,N_Shuffle,Train_RMSE_mean,Train_RMSE_std,Test_RMSE_mean,Test_RMSE_std
1,Linear Regression,1,95,Yes,Yes,16,0,NaN,5,Yes,Yes,20.0,125523.452157,327.365201,1.263406e+05,6.006113e+03
2,Linear Regression,2,95,Yes,Yes,22,0,NaN,5,Yes,Yes,20.0,118512.073236,257.856267,1.170752e+05,5.022322e+03
3,Linear Regression,3,95,Yes,Yes,22,1,CountVectorizer,5,Yes,Yes,20.0,116516.349411,298.866353,1.189049e+05,5.792505e+03
4,Linear Regression,4,95,Yes,Yes,22,16,CountVectorizer and pd.get_dummies,5,Yes,Yes,20.0,112421.724899,400.896531,6.141371e+13,1.276818e+14
5,RandomForestRegressor,5,95,Yes,Yes,22,16,CountVectorizer and pd.get_dummies,5,Yes,Yes,5.0,107570.075069,358.657020,1.137129e+05,8.294585e+03
6,RandomForestRegressor,6,95,Yes,Yes,22,0,NaN,5,Yes,Yes,5.0,108380.942088,374.024944,1.055392e+05,5.980744e+03
7,GradientBoostingRegressor,7,95,Yes,Yes,22,0,NaN,5,Yes,Yes,5.0,69092.319360,185.682346,7.451237e+04,7.538161e+03
8,Neural Network,8,95,Yes,Yes,22,0,NaN,5,Yes,Yes,NaN,84213.952667,NaN,7.477823e+04,NaN

## 4.14 Export

In [9]:
pd.DataFrame(hyperparameter_table).to_csv('../Data/hyperparameter_table_Jan26_2024.csv')

In [44]:
df_4.to_csv('../Data/house_Jan26_2024.csv')

## 4.15 Summary

1. Exp_1 and Exp_2. the linear regression performs good use only continuous variables. 
2. Exp_3. after add the natural language variable, the linear model behave little bit better, but not much. 
3. Exp_4. after add several categorical variables, the linear model became very unstable (have several negative r2 in 20 tests), that means the randomness of split influence the model a lot. this is a bad sign for generalization. so decide to try some non-linear models. 
4. Exp_5. try randomforest regressor, with 100 trees and max_depth=5, actually I also tried to use max_depth=None and found overfitting, so limit max_depth to 5. compared with Exp_5, this model is much better. but running time is little bit longer.
5. Exp_6. try same parameters of randomforest regressor as Exp_6, but use only the continuous variables. the result is no big difference and run much faster.
6. Exp_7. based on the result of Exp_6, try GradientBoosting Regressor with 100 trees and max_depth=5, default learning rate=0.1, get better result than randomforest regressor, but little bit overfit.
8. Exp_8. try neural network, one input layer with 64 netrons, one hidden layer with 32 netrons. the result is not the best, but no overfit. just tried one time, since needs long time to run.
9. based on all the experiments, i think the most suitable model is GradientBoosting Regressor, but needs more work to curb the overfitting, like reduce tree numbers, reduce max_depth, reduce learning rate, increase min sample leaf or increase min sample split etc.